Host bitbucket.org
  User git
  IdentityFile ~/.ssh/bitbucket_work

Host github.com gitlab.com
  User git
  IdentityFile ~/.ssh/personal

Host othinus
  HostName 192.168.86.136
  User raf
  IdentityFile ~/.ssh/othinus

Host proserpina
  HostName proserpina.local
  User rafael
  IdentityFile ~/.ssh/proserpina

# Keep defaults last: OpenSSH uses the first value found for each option.
Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  ForwardAgent no
