config-file = /nix/var/nix/profiles/system/etc/xdg/ghostty/common
config-file = /nix/var/nix/profiles/system/etc/xdg/ghostty/theme
background-blur-radius = 20
command = /nix/var/nix/profiles/system/sw/bin/nu --login
macos-option-as-alt = true
keybind = global:ctrl+grave_accent=toggle_quick_terminal
